*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}

body{
    font-family: sans-serif;
    overflow:scroll;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem 1.25rem;
    color: white;
    border: 2px solid  #8B4513; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin:  1rem auto; 
    transition: background-color 0.5s ease; 
position: relative;
    background: linear-gradient(
        to right, 
        #A0522D, /* SaddleBrown */
        #8B4513, /* Sienna */
        #D2B48C, /* Tan */
        #5C4033  /* Dark Brown */
    );
}

.navbar:hover{
    background-color:white;
    color: #17120e;
    background: none;
}

.logo{
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif; /* Modern font */
    text-transform: uppercase; /* Uppercase for a sleek look */
    letter-spacing: 2px; /* Add space between letters */
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    background: linear-gradient(90deg, white,white); /* Gradient from green to white */
    -webkit-background-clip: text;
    color: transparent; /* Make the text transparent to show the gradient */
}

.logo-container{
    display: flex;
    align-items: center;
}

.logo-container img{
    width: 10%;
    height: auto;
    align-self: center;
    object-fit: contain;
    background-color: white;
    border-radius: 50%;
}

.logo:hover {
    text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3); /* Stronger shadow on hover */
    transform: scale(1.1); /* Slightly enlarge on hover */

}

.navbar:hover .logo{
    
 background: #695850;
 -webkit-background-clip: text;
 color: transparent; /* Make the text transparent to show the gradient */
}
.navlinks{
    display: flex;
    gap: 1rem;
    
}
.navlinks a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bolder;
    display: flex;
    gap: 8px;
    transition: background-color 0.3s ease, color 0.3s ease; 
}


/* Nav links color when navbar changes background */
.navbar:hover .navlinks a {
    color: #695850; /* Green text on white background */
}

/* Nav links hover effect */
.navlinks a:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Light background on hover */
    
}



.hamburger {
    display: none; 
    background:none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease; 
    z-index: 10;
}




/* Hamburger hover */
.hamburger:hover {
    color: #695850; /* Green icon on hover */
}



/*hero*/
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5%;
    min-height: 90vh;
    background: linear-gradient(
        to right, 
        white, /* SaddleBrown */
        white, /* Sienna */
        white, /* Tan */
        /* Dark Brown */
    );
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.hero-content{
    max-width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding-bottom: 1rem;
    background-color: white;
    padding: 1rem ;
}


.hero-content h1 {
    font-family: 'Playfair Display', serif;
    font-size: 4.5rem;
    font-weight: 800;
    margin-bottom: 1.2rem;
    line-height: 4.5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    background: linear-gradient(90deg, #A0522D,gold); /* Gradient from green to white */
    -webkit-background-clip: text;
    color: transparent; /* Make the text transparent to show the gradient */
}



.hero-content p {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    line-height: 1.8;
}


.cta-btn {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    color: white;
    background-color: rgb(87, 138, 87);
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    line-height: 1rem;
    letter-spacing: 2px;
    text-align: center;
}


.cta-btn:hover {
    background-color: #A0522D;
}  /* SaddleBrown */
        

.hero-image{
    max-width: 50%;
    height: auto;
    
}


.hero-image img {
    width: 100%;
    height: auto;

}



/*feature*/
.products {
    text-align: center;
    padding: 3rem 5%;

}


.products h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #5C4033;
    
}

.category-headings{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}
.category-headings h3{
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0.5rem 1rem;transition: background-color 0.3s, color 0.3s;
    border-radius:5px ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.category-headings h3.active {
    background-color: #ff6b6b;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .product-category {
    display: none;
  }
  
  .product-category.active {
    display: block;
  }
  .slider-container{
   display: flex;
    gap: 1.5rem;
    overflow-x:auto; /* Enable horizontal scrolling */
    padding-bottom: 1rem; /* Add some padding at the bottom */
    justify-content: space-between;
    
    
  }
  .product-card{
    position: relative;
    overflow:hidden;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 300px;
    flex: 0 0 auto; /* Prevent flex items from shrinking */
    padding: 1rem;
    border-radius: 10px;
    
  }
  .product-card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }


/* Responsive styles */
@media (max-width: 768px) {
    .hamburger {
        display: block; /* Show hamburger on small screens */
        color:#695850;
    }

    .navbar{
        background-color: white;
        color: #5C4033;
        background: none;
        border: none;
    }

    
.logo{
    
    background: linear-gradient(90deg, #5C4033,#695850);
    -webkit-background-clip: text;
    color: transparent; /* Make the text transparent to show the gradient */
   }

    .navlinks {
        display: none; /* Hide links by default */
        flex-direction: column; /* Stack links vertically */
        position: absolute;
        top: 30px;
        right: 0;
        padding: 1rem;
        width: 100%; /* Full-width dropdown */
        border-radius: 0 0 10px 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        margin-top: 2.5rem;
        background-color: white;
    }

    .navlinks.active {
        display: flex; /* Show links when active */
    }

    .navlinks a {
        padding: 0.5rem;
        text-decoration: none;
        color: #A0522D;
    }
    .logo-container{
        display: flex;
    
    }
    img{
        width: 10%;
        height: auto;
        align-self: center;
        object-fit: contain;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .hero {
        flex-direction: column;
        text-align: center;
        background: white;
        margin-top: -2.5rem;
        justify-content: space-evenly;
    }

    .hero-content {
        max-width: 100%;
        margin-bottom: 1rem;
    
    }

    .hero-image {
        max-width: 80%;
        border-radius: 10px;
        
    }
    .hero h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .hero p{
        font-size: 1rem;
        line-height: 2rem;
    }
    .cta-btn{
        border-radius: 10px;
        font-size: smaller;
    }

     /* Products Section */
     .category-headings {
        flex-direction: row;
        gap: 0.5rem;
      }
      
      .category-headings h3 {
        font-size: 0.8rem;
        margin: -1rem auto;
        font-family: 'Times New Roman', Times, serif;
        text-transform: capitalize;
      }
      .products h2{
        font-size: 1.5rem;
        margin-top: 1rem;
        text-transform: uppercase;
      }
      
      .slider-container {
        gap: 2px;
        justify-content: center;
      }

      .product-card img{
        width: 50%;
        height: 70%;
        object-fit: cover;
      }
      .product-card {
        width: 100%;
        margin-right: -10rem;
      }

}


@media (max-width: 400px) {
    .logo{
        font-size: 20px;
    }
}
